[Unit]
Description=Starts Attendance Management System
After=network.target mysql.service

[Service]
Type=simple
User=ams
Group=ams
StartLimitBurst=0
ExecStart=/opt/attendance-monitoring-system/src/fingerprint/ams-attendance.py
Restart=always
RestartSec=0.3

[Install]
WantedBy=multi-user.target
