[Unit]
Description=Starts Attendance Management System
After=network.target mysql.service

[Service]
Type=simple
User=ams
Group=ams
ExecStart=/usr/bin/watch -n 0.1 -t /opt/attendance-management-system/src/fingerprint/ams-attendance.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
